/* FONT EMBEDDING */
@font-face {
  font-family: "Pilowlava";
  src: url("fonts/Pilowlava-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono";
  src: url("fonts/SpaceMono-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono";
  src: url("fonts/SpaceMono-Italic.woff") format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Space Mono";
  src: url("fonts/SpaceMono-Bold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono";
  src: url("fonts/SpaceMono-BoldIltalic.woff") format('woff');
  font-weight: 600;
  font-style: italic;
}

/* GENERAL */
body {
  background-color: #F9F8F4;
  font-family: Work Sans;
  font-weight: 400;
  font-size: 1.125rem;
  /*18px*/
  line-height: 170%;
  letter-spacing: 0.025rem;
  color: black;
  cursor: crosshair;
}

hr {
  border-bottom: 2px solid #DBDBDB;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0.1px solid #F9F8F4;
  margin-bottom: 60px;
}

.hr-dark {
  border-bottom: 2px solid black;
}

h2 {
  font-family: Space Mono;
  font-size: 3.75rem;
  /*60px*/
  line-height: 166%;
  margin: 70px 0 70px 0;
}

h3 {
  font-family: Space Mono, monospace;
  font-size: 1.875rem;
  /*30px*/
  line-height: 133%;
}

h4 {
  font-family: Space Mono;
  font-size: 1.5rem;
  /*24px*/
  line-height: 133%;
  margin-bottom: 16px;
}

ul {
  padding-left: 17px;
}

li {
  margin-bottom: 15px;
}

.container {
  width: 1140px;
  padding: 0;
}

.mob-view {
  display: none;
}

.tab-view {
  display: none;
}

/* FOR HOMEPAGE */
.header {
  max-width: 100%;
  height: 100vh;
  background-color: #5857F1;
  text-align: center;
  /* border-bottom: 3px solid black; */

}

.header-img {
  text-align:center;
width: 1000px;
display:block;
margin:auto;
position: absolute;
bottom: 0px;
left: 0;
right: 0;
}

.greeting-home {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  color: #f9f8f4;
  text-align: center;
  margin-top: 90px;
}

.main-heading {
  font-size: 165px;
  font-family: Work Sans;
  font-weight: bold;
  text-align: center;
  color: #F9F8F4;
  margin-top: 65px;
  letter-spacing: -0.01em;
}


.sub-text {
  font-size: 28px;
  line-height: 50px;
  margin-bottom: 50px;
}

.peeping-img {
  position: relative;
  top: 27px;
}

.introduction {
  font-family: Work Sans;
  font-size: 34px;
  line-height: 175%;
  margin: 80px auto 80px auto;
}

.project-info-home {
  padding-right: 50px;
  /
}

.project-type-home {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 166%;
  margin-bottom: 25px;
}

.project-name-home {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 137%;
  margin-bottom: 50px;
}

.project-description-home {
  padding-left: 25px;
  border-left: 5px solid;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.025em;
  margin-bottom: 50px;
}

.project-button {
  height: 50px;
  font-size: 18px;
  font-weight: 500;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 100px;
  border: 2px solid #000000;
  font-weight: 500;
}

.button-cooking {
  background-color: #F9F8F4;
  border-color: #400E8F;
  color: #400E8F;
}

.button-cooking:hover {
  background-color: #400E8F;
  border-color: #400E8F;
  color: #F9F8F4;
  box-shadow: 10px 10px 30px #E1E1E1;
}

.button-foodpanda {
  background-color: #F9F8F4;
  border-color: #FE9112;
  color: #FE9112;
}

.button-foodpanda:hover {
  background-color: #FE9112;
  border-color: #FE9112;
  color: #F9F8F4;
  box-shadow: 10px 10px 30px #E1E1E1;
}

.button-weather {
  background-color: #F9F8F4;
  border-color: #3A95FF;
  color: #3A95FF;
}

.button-weather:hover {
  background-color: #3A95FF;
  border-color: #3A95FF;
  color: #F9F8F4;
  box-shadow: 10px 10px 30px #E1E1E1;
}

.button-calendar {
  background-color: #F9F8F4;
  border-color: #000000;
  color: #000000;
}

.button-calendar:hover {
  background-color: #000000;
  border-color: #000000;
  color: #F9F8F4;
  box-shadow: 10px 10px 30px #E1E1E1;
}

.button-logo {
  background-color: #F9F8F4;
  border-color: #E37400;
  color: #E37400;
}

.button-logo:hover {
  background-color: #E37400;
  border-color: #E37400;
  color: #F9F8F4;
  box-shadow: 10px 10px 30px #E1E1E1;
}

.project-img-home {
  height: auto;
  width: 100%;
  border-radius: 5px;
}


.marquee {
  width: 100%;
  overflow: hidden;
  font-family: Space Mono;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  margin: 15px 0 5px 0;
  display: grid;
}

.marquee-hr {
  margin-bottom: 10px;
}

/* FOR PROJECTS */
/*top part*/
.project-heading {
  font-family: Space Mono, monospace;
  font-size: 5.3125rem;
  /*85px*/
  line-height: 110%;
  letter-spacing: 0.02rem;
  text-align: left;
  margin-bottom: 40px;
}

.project-duration {
  font-family: Space Mono, monospace;
  font-size: 2.25rem;
  /*36px*/
  line-height: 53px;
  text-align: right;
  position: relative;
  top: 135px;
}

.project-block {
  margin-bottom: 60px;
}

.project-slogan {
  font-family: Space Mono, monospace;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 30px;
  padding-right: 100px;
}

.project-description {
  padding-right: 100px;
}

.project-info {
  line-height: 120%;
}

.project-info-block {
  margin-bottom: 24px;
}

.project-info-heading {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  color: #FF8A00;
}

/* images */
.img-with-margin {
  max-width: 100%;
  margin-bottom: 40px;
}

.img-no-margin {
  max-width: 100%;
}

.pp-validated-img {
  margin-bottom: 30px;
}

.icon {
  margin-bottom: 20px;
}

.icon-description {
  opacity: 90%;
  font-size: 16px;
}

.highlighted-text {
  font-weight: 700;
}

.contact-me {
  font-family: Space Mono;
  font-size: 1.875rem;
  /*30px*/
  line-height: 158%;
  text-align: center;
  padding: 30px 70px;
  margin-bottom: 50px;
}

.prev-project-link {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  /*24px*/
  line-height: 150%;
  color: black;
  text-align: left;
  margin: 100px 0;
}

.home-link {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  /*24px*/
  line-height: 150%;
  color: black;
  text-align: center;
  margin: 100px 0;
}

.next-project-link {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  /*24px*/
  line-height: 36px;
  color: black;
  text-align: right;
  margin: 100px 0;
}

/* carousel */
.carousel {
  text-align: center;
  margin-bottom: 40px;
}

.persona-slide {
  max-width: 80%;
}

.carousel-control-prev {
  padding-right: 120px;
}

.carousel-control-next {
  padding-left: 120px;
}

.fa-chevron-left {
  color: #000000;
}

.fa-chevron-right {
  color: #000000;
}

    /*for navbar */
.navbar {
  padding: 10px 0 0 0;
  border-bottom: 2px solid black;
  margin-bottom: 55px;
  background-color: #F9F8F4;
}

.navbar-brand {
  font-family: Work Sans;
  font-size: 38px;
  font-weight: 600;
  line-height: 46px;
  margin-bottom: 25px;
}

.nav-item {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 5px;
  margin-left: 90px;
}

    /* for homepage */
.navbar-home {
  margin-bottom: 80px;
  border-bottom: 2px solid #ABABF8;
  background-color: rgba(88, 87, 241, 0);
}



    /* for logo page */
.logo {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.logo-description {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
}

.logo-day {
  color: #737373;
}

/*_________________________________________________________*/
/* MEDIA QUERIES */


/* FOR MOBILES */
@media (min-width: 280px) and (max-width: 576px) {

  .greeting-home {
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 40px;
  }

  .main-heading {
    font-size: 90px;
    line-height: 70px;
    letter-spacing: -0.01em;
    margin-top: 0px;
  }

  .sub-text {
    font-size: 1rem;
    /* 16px */
    line-height: 20px;
  }

  .peeping-img {
    position: relative;
    width: 70%;
    top: 113px;
  }

  .header-img {
    width: 100vw;
  }

  .header-img-mob {
    text-align: center;
    width: 100vw;
    display: block;
    margin: auto;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
  }

  body {
    font-size: 14px;
    /* margin: 20px 20px 0 20px; */
  }

  .container {
    width: 100vw;
    padding: 5px 20px 0 20px;
    /* padding: 0; */
  }

  hr {
    margin-bottom: 30px;
  }

  h2 {
    font-size: 36px;
    line-height: 142%;
    margin: 50px 0 50px 0;
  }

  h3 {
    font-size: 24px;
    line-height: 142%;
    margin-bottom: 20px;
  }

  h4 {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 5px;
  }

  .icon {
    width: 50px;
    height: 50px;
  }

  .icon-description {
    font-size: 12px;
    opacity: 90%;
  }

  .img-with-margin {
    margin-bottom: 30px;
  }

  .project-heading {
    font-size: 42px;
    line-height: 119%;
    text-align: left;
    margin-bottom: 20px;
  }

  .project-duration {
    font-size: 20px;
    line-height: 150%;
    text-align: left;
    position: relative;
    top: 15px;
    margin-bottom: 40px;
  }

  .project-block {
    margin-bottom: 30px;
  }

  .project-slogan {
    font-size: 24px;
    line-height: 142%;
    margin-bottom: 20px;
    padding-right: 0;
  }

  .project-description {
    font-feature-settings: 'liga'off;
    padding-right: 0px;
    margin-bottom: 40px;
  }

  .project-info-block {
    margin-bottom: 15px;
  }

  .desktop-view {
    display: none;
  }

  .mob-view {
    display: block;
  }

  .navbar {
    margin-bottom: 40px;
  }

  .navbar-brand {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 13px;
  }

  .hamburger-menu {
    border: none;
    /* display: contents; */
  }

  .navbar-toggler {
    border: 0;
    color: black;
  }

  .introduction {
    font-size: 18px;
    line-height: 186%;
    width: 100%;
    margin: 30px 0 30px 0;
  }

  .project-info-home {
    padding-right: 20px;
  }

  .project-type-home {
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 166%;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .project-name-home {
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 145%;
    margin-bottom: 25px;
  }

  .project-button {
    height: 34px;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 25px;
  }

  .project-description-home {
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.025em;
    margin-bottom: 25px;
    border-left: 3px solid;
    padding-left: 15px;
  }

  .project-img-home {
    height: auto;
    width: 100%;
    border-radius: 3px;
  }

  .marquee {
    width: 100%;
    overflow: hidden;
    font-family: Space Mono;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.2em;
    margin-bottom: 0;
    display: block;
  }

  .marquee-hr {
    margin-bottom: 15px;
  }
}

/* for tablets*/
@media (min-width: 576px) and (max-width: 769px) {

/* GENERAL */

  .header-img {
    width: 90vw;
  }

  body {
    font-size: 1rem;
    /*16px*/
    line-height: 169%;
    letter-spacing: 0.025em;
    /* margin: 30px 40px 0 40px; */
  }

  .container {
    width: 100vw;
    padding: 10px 40px 0 40px;
    /* padding: 0; */
  }

  hr {
    margin-bottom: 40px;
  }

  h2 {
    font-size: 3.75rem;
    /*60px*/
    line-height: 142%;
    margin: 60px 0 60px 0;
  }

  h3 {
    font-size: 1.625rem;
    /*26px*/
    line-height: 146%;
    margin-bottom: 20px;
  }

  h4 {
    font-size: 1.25rem;
    /*20px*/
    line-height: 150%;
    margin-bottom: 10px;
  }

  .icon {
    width: 60px;
    height: 60px;
  }

  .icon-description {
    font-size: 0.875rem;
    /*14px*/
    opacity: 90%;
  }

  .img-with-margin {
    margin-bottom: 30px;
  }

  .project-heading {
    font-size: 4.375rem;
    /*70px*/
    line-height: 120%;
    margin-bottom: 20px;
  }

  .project-duration {
    font-size: 1.75rem;
    /*28px*/
    line-height: 150%;
    text-align: left;
    position: relative;
    top: 20px;
    margin-bottom: 40px;
  }

  .project-block {
    margin-bottom: 30px;
  }

  .project-slogan {
    font-size: 1.625rem;
    /*26px*/
    line-height: 146%;
    margin-bottom: 20px;
    padding-right: 30px;
  }

  .project-description {
    padding-right: 0px;
    margin-bottom: 30px;
  }

  .project-info-block {
    margin-bottom: 20px;
  }

  .pp-validated-img {
    margin-bottom: 18.58px;
  }

  .navbar {
    /* padding-top: 15px; */
    margin-bottom: 55px;
  }

  .navbar-brand {
    font-size: 1.75rem;
    /*28px*/
    line-height: 34px;
    margin-bottom: 20px;
  }

  .navbar-toggler {
    border: 0;
    color: black;
  }

  .main-heading {
    line-height: 70px;
/* or 78% */
font-size: 90px;
text-align: center;
letter-spacing: -0.01em;
  }

  .sub-text {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 50px;
  }

  .peeping-img{
    display:none;
  }

  .marquee {
    font-size: 0.75rem;
    /*12px*/
    line-height: 18px;
    margin: 10px 0 2px 0;
  }

  .marquee-hr {
    margin-bottom: 10px;
  }

  .introduction {
    font-size: 26px;
    line-height: 190%;
    margin: 40px 0 40px 0;
  }

  .project-info-home {
    padding-right: 3px;
  }

  .project-type-home {
    font-size: 0.875rem;
    /*14px*/
    line-height: 166%;
    margin-bottom: 20px;
    /* margin-top: 20px; */
  }

  .project-name-home {
    font-size: 1.625rem;
    /*26px*/
    line-height: 146%;
    margin-bottom: 30px;
  }

  .project-description-home {
    font-size: 0.875rem;
    /*14px*/
    line-height: 169%;
    border-left: 4px solid;
  }

  .project-button {
    height: 40px;
    font-size: 14px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 30px;
  }


  .project-img-home {
    height: auto;
    width: 100%;
    border-radius: 3px;
  }
}

/* for tablets part 2 */
@media (min-width: 769px) and (max-width: 1025px) {



  body {
    font-size: 1rem;
    /*16px*/
    line-height: 169%;
    letter-spacing: 0.025em;
    /* margin: 30px 40px 0 40px; */
  }

  .container {
    width: 100vw;
    padding: 10px 40px 0 40px;
    /* padding: 0; */
  }

  hr {
    margin-bottom: 40px;
  }

  h2 {
    font-size: 3.75rem;
    /*60px*/
    line-height: 142%;
    margin: 60px 0 60px 0;
  }

  h3 {
    font-size: 1.625rem;
    /*26px*/
    line-height: 146%;
    margin-bottom: 20px;
  }

  h4 {
    font-size: 1.25rem;
    /*20px*/
    line-height: 150%;
    margin-bottom: 10px;
  }

  .icon {
    width: 60px;
    height: 60px;
  }

  .icon-description {
    font-size: 0.875rem;
    /*14px*/
    opacity: 90%;
  }

  .img-with-margin {
    margin-bottom: 30px;
  }

  .project-heading {
    font-size: 4.375rem;
    /*70px*/
    line-height: 120%;
    margin-bottom: 20px;
  }

  .project-duration {
    font-size: 28px;
    line-height: 150%;
    text-align: right;
    position: relative;
    top: 120px;
    margin-bottom: 40px;
  }

  .project-block {
    margin-bottom: 30px;
  }

  .project-slogan {
    font-size: 1.625rem;
    /*26px*/
    line-height: 146%;
    margin-bottom: 20px;
    padding-right: 30px;
  }

  .project-description {
    padding-right: 0px;
    margin-bottom: 30px;
  }

  .project-info-block {
    margin-bottom: 20px;
  }

  .pp-validated-img {
    margin-bottom: 18.58px;
  }

  .navbar {
    padding-top: 15px;
    margin-bottom: 55px;
  }

  .navbar-brand {
    font-size: 1.75rem;
    /*28px*/
    line-height: 34px;
    margin-bottom: 20px;
  }

  .navbar-toggler {
    border: 0;
    color: black;
  }

  .main-heading {
    font-size: 70px;
    /*70px*/
    line-height: 129%;
    margin-top: 200px;
    margin-bottom: 45px;
    width: 100%;
  }

  .sub-text {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 50px;
  }

  .peeping-img{
    display:none;
  }

  .marquee {
    font-size: 0.75rem;
    /*12px*/
    line-height: 18px;
    margin: 10px 0 2px 0;
  }

  .marquee-hr {
    margin-bottom: 10px;
  }

  .introduction {
    font-size: 26px;
    line-height: 190%;
    margin: 40px 0 40px 0;
  }

  .project-info-home {
    padding-right: 3px;
  }

  .project-type-home {
    font-size: 0.875rem;
    /*14px*/
    line-height: 166%;
    margin-bottom: 20px;
    /* margin-top: 20px; */
  }

  .project-name-home {
    font-size: 1.625rem;
    /*26px*/
    line-height: 146%;
    margin-bottom: 30px;
  }

  .project-description-home {
    font-size: 0.875rem;
    /*14px*/
    line-height: 169%;
    border-left: 4px solid;
  }

  .project-button {
    height: 40px;
    font-size: 14px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 30px;
  }


  .project-img-home {
    height: auto;
    width: 100%;
    border-radius: 3px;
  }



}

/* for small laptops */
@media (min-width: 1025px) and (max-width: 1281px) {
  body {
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 0.025em;
    /* margin: 30px 70px 0 70px; */
  }

  .container {
    width: 1024px;
    margin-top: 30px;
    padding: 0;
  }
}
